<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :client%>
    <%= collection_select(:contract, :client_id, Client.find(:all), :id, :name_with_state, {:prompt => 'Please select the client'}) %>
  </div>

 
  <div class="field">
    <%= f.label :comment %> 
    <%= f.text_field :comment %>
  </div><br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
<script>
$(".popover-tx").popover();
$(document).ready(function()
{
  Numerous.init();
});
</script>
