

<div class="span10">
<!--Body content-->

    <!--<div id="container" class="container-fluid">

    <div style="float: right; margin-bottom: 10px">         
        <button id="enable" class="btn">enable/disable edit</button>
    </div>-->
    <%if @permanent == '1'%>
        <h2>Listing Permanent Contracts </h2>
    <% else %>
        <h2>Listing Proposed Contracts </h2>
    <% end %>
    <table id="tb" class="table table-striped table-condensed table-hover table-bordered" cellspacing="0">
        <thead>
        <tr>
            <th class='hed'>Client </th>
            <th class='hed'>Product </th>
            <%if @permanent == '1'%>
                    <th class='hed'>Contract execute date </th> 
            <% end %>
            <th class='hed'>Real cust_id </th>
            <th class='hed'>Sales </th>
            <th class='hed'>Creating date </th>
            <th class='hed'>Send date </th>
            <th class='hed'>Sign date </th>
            <th class='hed'>Download </th>
            <th class='hed'>Version </th>
            <th class='hed'>Uploade </th>
            <!--
            <th class='hed'>BAA date </th>
            <th class='hed'>Contract execute date </th>
            <th class='hed'>Status </th>
            <th class='hed'>Comment </th>
            -->
            <th class='hed'>Delete </th>
            <th class='hed'>View SOW </th>
        </tr>
        </thead>
        <tbody>

            <% @contracts.each do |contract| %>
              <tr>
                
                <td><%= contract.client.name_with_state %></td>
                <td><%= contract.product_list %></td>
                <%if @permanent == '1'%>
                    <td><%= contract.contract_execute_date %></td>
                <% end %>
                 <td><%= contract.client.cust_id %></td>
                 <td><%= contract.client.list_of_sales %></td>
                <td>
                   <%= contract.created_at %>
                </td>
                <td>
                   <%= contract.contract_send_at %>
                </td>
                <td>
                   <%= contract.contract_sign_at %>
                </td>
                 
                <td>
                    <% if contract.contractfiles.empty? %>
                        N/A
                    <% else %>
                        <%= link_to raw('<i class=" icon-download" ></i>'), "#{contract.contractfiles.last.file}" %>
                    <% end %>
                </td>

                <td>
                   <%= "V #{contract.contractfiles.count}" %>
                </td>

                <td>
                    <%= link_to raw('<i class="icon-upload"></i>'), edit_contract_path(contract)  %>
                </td>

                
                <%if @permanent == '1'%>
                    <td><%= link_to raw('<i class="icon-trash "></i>'), contract_path(contract,:permanent => '1'),  method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% else %>
                    <td><%= link_to raw('<i class="icon-trash "></i>'), contract_path(contract) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>

                <td>
                    <%= link_to raw('<i class="icon-eye-open"></i>'), contract_sows_path(contract)  %>
                </td>
                 
              </tr>
            <% end %>
         </tbody>
    </table>

    <br />

<script>


    $(function(){
        $('.ct_date').editable({
            ajaxOptions: {
                type: 'PUT'
            },
            format: 'yyyy-mm-dd',    
            viewformat: 'dd/mm/yyyy',    
            datepicker: {
                    weekStart: 1
            }

        });
        $('#enable').click(function() {
            $('#tb .editable').editable('toggleDisabled');
        });  
        $('.ct_description').editable({
            ajaxOptions: {
                type: 'PUT'
            },
            title: 'Enter Description',

        });
                $('#tb .editable').editable('toggleDisabled');
    });
</script>

</div>
</div>