<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @contract.description %>
</p>

<p>
  <b>Product:</b>
  <%= @contract.product %>
</p>

<p>
  <b>Client:</b>
  <%= @contract.client %>
</p>

<p>
  <b>Salesperson:</b>
  <%= @contract.salesperson %>
</p>

<p>
  <b>Contact email:</b>
  <%= @contract.contact_email %>
</p>

<p>
  <b>Send date:</b>
  <%= @contract.send_date %>
</p>

<p>
  <b>Execute date:</b>
  <%= @contract.execute_date %>
</p>

<p>
  <b>Kick off call:</b>
  <%= @contract.kick_off_call %>
</p>

<p>
  <b>Data received date:</b>
  <%= @contract.data_received_date %>
</p>

<p>
  <b>Data run date:</b>
  <%= @contract.data_run_date %>
</p>

<p>
  <b>First run date in production:</b>
  <%= @contract.first_run_date_in_production %>
</p>

<p>
  <b>Status:</b>
  <%= @contract.status %>
</p>

<p>
  <b>Comment:</b>
  <%= @contract.comment %>
</p>


<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
