<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Client Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.select :state , us_states %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label "Cust ID".to_sym %><br />
    <%= f.text_field :cust_id %>
  </div>
  <div class="field">
    <%= f.label :client_contact, :id=>"contact" %><br />
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Sales %>  
    <%= f.select :salesperson_ids, Salesperson.all.collect {|x| ["#{x.last_name},#{x.first_name}", x.id]}, {}, :multiple => true %>  
  </div>
  <div class="field" >
    <%= f.label "BAA send date" , :id=>"baa" %> 
    <%= f.datepicker :baa_send_at  %> 
    <br><br><br>  
  </div>  
  <div class="field">
    <%= f.label "BAA sign date", :id=>"baasign" %> 
    <%= f.datepicker :baa_sign_at  %>  
  </div>  <br><br><br>
  <div class="field">
    <%= f.label "Sign NDA" , :id=>"nda" %> 
    <%= f.check_box :nda_flag ,:style => "float:left;", :id=>"ndacheck"%> 
    <br><br><br>  
  </div>  
  <div class="field" id="ndadate" >
    <%= f.label "NDA send date"  %>
    <%= f.datepicker :nda_send_at  %>  <br><br><br>  
    <%= f.label "NDA sign date"  %> 
    <%= f.datepicker :nda_sign_at  %>   
  </div>  <br><br><br>  
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :cols => 20, :rows => 5%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$('#contact').tooltip({'trigger':'click hover focus', 'title': 'Please input the client contact name here' });
  $('#baa').tooltip({'trigger':'click hover focus', 'title': 'The date on which we send business associate agreement to the client' });
  $('#baasign').tooltip({'trigger':'click hover focus', 'title': 'The date on which we sign business associate agreement' });
  $('#nda').tooltip({'trigger':'click hover focus', 'title': 'Please check this checkbox if you need sign non-disclosure agreement' });
  $('#ndasign').tooltip({'trigger':'click hover focus', 'title': 'The date on which we sign non-disclosure agreement' });

  $(function(){
    $("#ndadate").hide();

    $('#ndacheck').click(function(){
      $("#ndadate").slideToggle();
    });

  });

</script>

