 <h2>SOW Info </h2>
    <% if contract.nil? %>
        <p> N/A </P>
    <% else %>
        <% contract.sows.each do |sow| %>
            <table id="tb" class="table  table-condensed table-hover mytable" cellspacing="0">
                <tbody>
                    <tr>
                        <td class='hed'>SOW #: </td>
                        <td><span class="badge badge-success"><%= contract.sows.index(sow) + 1 %></span> </td>
                    </tr>
                    <tr>
                        <td class='hed'>Product: </td>
                        <td><span class="badge badge-info"><%= sow.product %></span> </td>
                    </tr>  
                    <tr>
                        <td class='hed'>Kickoff date: </td>
                        <td>
                            <a href="#" id="sow_ko_date" class="sow_date" data-resource="sow" data-type="date" data-pk="1" data-url="/sows/<%= sow.id %>"  data-original-title="Select date"><%= sow.sow_ko_date %></a>    
                        </td>
                    </tr>  
                    <tr>
                        <td class='hed'>Production date: </td>
                        <td>
                            <a href="#" id="sow_production_date" class="sow_date" data-resource="sow" data-type="date" data-pk="1" data-url="/sows/<%= sow.id %>"  data-original-title="Select date"><%= sow.sow_production_date %></a>    
                        </td>
                    </tr>  
                    <tr>
                        <td class='hed'>Start date: </td>
                        <td>
                            <a href="#" id="sow_start_date" class="sow_date" data-resource="sow" data-type="date" data-pk="1" data-url="/sows/<%= sow.id %>"  data-original-title="Select date"><%= sow.sow_start_date %></a>    
                        </td>
                    </tr> 
                    <tr>
                        <td class='hed'>End date: </td>
                        <td>
                            <a href="#" id="sow_end_date" class="sow_date" data-resource="sow" data-type="date" data-pk="1" data-url="/sows/<%= sow.id %>"  data-original-title="Select date"><%= sow.sow_end_date %></a>    
                        </td>
                    </tr> 

                    <tr>
                        <td class='hed'>Auto renew: </td>
                        <td>
                            <a href="#" id="auto_renew" class="sow_yn"  data-resource="sow" data-type="select" data-pk="1" data-url="/sows/<%= sow.id %>" data-original-title="Select status"><%= sow.auto_renew %></a> 
                        </td>
                    </tr>

                    <tr>
                        <td class='hed'>Accept term(mo): </td>
                        <td>
                            <a href="#" id="accept_term" class="sow_int"  data-resource="sow" data-type="select" data-pk="1" data-url="/sows/<%= sow.id %>" data-original-title="Select status"><%= sow.accept_term %></a>   
                        </td>
                    </tr>

                    <tr>
                        <td class='hed'>File: </td>
                        <% count = 1 %>
                        <td>
                            <% sow.sow_files.each do |f| %>
                                <% if sow.sow_files.count == count %>
                                    <span class="badge badge-important">
                                <% else %>
                                    <span class="badge ">
                                <% end %>
                                <%= " V#{count}  " %>
                                <% if sow.sow_files.count == count %>
                                    <%= link_to raw('<i class=" icon-download icon-white" ></i>'), "#{f.file}" %> 
                                <% else %>
                                    <%= link_to raw('<i class=" icon-download icon-white" ></i>'), "#{f.file}" %> 
                                <% end %>
                                </span>
                                <% count = count + 1 %>
                                <br />
                            <% end %> 
                        </td>
                    </tr> 
                    <tr>
                        <td class='hed'>New version: </td>
                         <td>
                            <span class="badge  badge-inverse">
                            <%= link_to raw('<i class="icon-upload  icon-white"></i>'), edit_sow_path(sow,:contract_id=>contract.id)   %>
                            </span>
                        </td>
                    </tr>               
                    <tr>
                        <td class='hed'>Create Date: </td>
                        <td> <%= sow.created_at %>  </td>
                    </tr> 
                </tbody>
            </table>  <br />
        <% end %>
        <p> <%=link_to "New Sow",  new_contract_sow_path(contract) %></p>
    <% end %>
