 

<div class="span10">
<!--Body content-->
    <div id="container" class="container-fluid">


        <h1>Listing clients</h1>

        <table id="tb" class="table  table-condensed table-hover " cellspacing="0">
            <thead>
              <tr>
                <th class="hed">Name </th>
                <th class="hed">State </th>
                 <th class="hed">City </th>
                <th class="hed">Cust_id </th>
                <th class="hed">Contact Name </th>
                <th class="hed">Contact Phone </th>
                <th class="hed">Contact Email </th>
                <th class="hed">Sales </th>
                <th class="hed">Edit </th>
                <th class="hed">Delete</th>
              </tr>
            </thead>
            <tbody>
                <% @clients.each do |client| %>
                  <tr>
                    <td><%= client.name %></td>
                    <td><%=  client.state %></td>
                     <td><%=  client.city %></td>
                    <td><%= client.cust_id %></td>
                    <td><%= client.contact_name %></td>
                    <td><%= client.phone %></td>
                    <td><%= client.email %></td>
                    <td><% client.salespeople.each do |p| %>
                            <%=  "#{p.first_name} #{p.last_name}"   %><br \>
                        <% end %>
                    </td>
                    <td><%= link_to 'Edit', edit_client_path(client) %></td>
                    <td><%= link_to 'Destroy', client, confirm: 'Are you sure?', method: :delete %></td>
                  </tr>
                <% end %>
            </tbody>
        </table>

        <br />

    <script>
    $('#tb tbody tr:odd').css("backgroundColor","#fcf8e3");
    $('#tb tbody tr:even').css("backgroundColor","#d9edf7");
    </script>

    </div> <!--! end of #container -->
</div>