<%= form_for([@contract, @sow]) do |f| %>
  <% if @sow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sow.errors.count, "error") %> prohibited this sow from being saved:</h2>

      <ul>
      <% @sow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--
  <div class="field">
    <%= f.label :sow_ko_date %><br />
    <%= f.date_select :sow_ko_date %>
  </div>
  <div class="field">
    <%= f.label :sow_production_date %><br />
    <%= f.date_select :sow_production_date %>
  </div>
  <div class="field">
    <%= f.label :sow_start_date %><br />
    <%= f.date_select :sow_start_date %>
  </div>
  <div class="field">
    <%= f.label :sow_end_date %><br />
    <%= f.date_select :sow_end_date %>
  </div>
  <div class="field">
    <%= f.label :auto_renew %><br />
    <%= f.text_field :auto_renew %>
  </div>
  <div class="field">
    <%= f.label :accept_term %><br />
    <%= f.number_field :accept_term %>
  </div>

  <div class="field">
    <%= f.label :renew_times %><br />
    <%= f.number_field :renew_times %>
  </div>
  -->
  <div class="field">
    <%= f.label :product_id %><br />
    <%= collection_select(:sow, :product_id, Product.find(:all), :id, :name, {:prompt => 'Please select the product'}) %>
  </div>
    <div class="field">
    <%= f.label "Credit Agreement" %> 
    <%= f.check_box :ca_flag ,:style => "float:left;"%> 
    <br><br><br>  
  </div>  

  <%= fields_for @detailstemplate do |fa| %>
      <div class="field">
        <%= fa.label :commercial_rate %>
        <%= fa.check_box :commercial_rate, :style => "float:left;" %>
      </div><br /><br /><br /><br />
      <div class="field">
        <%= fa.label :medicare_rate %> 
        <%= fa.check_box :medicare_rate, :style => "float:left;" %>
      </div><br /><br /><br />
      <div class="field">
        <%= fa.label :medicaid_rate %> 
        <%= fa.check_box :medicaid_rate, :style => "float:left;" %>
      </div><br /><br /><br />
      <div class="field">
        <%= fa.label :term %> 
        <%= fa.check_box :term, :style => "float:left;" %>
      </div><br /><br /><br />
      <div class="field">
        <%= fa.label :development_fee %> 
        <%= fa.check_box :development_fee, :style => "float:left;" %>
      </div><br /><br /><br />
      <div class="field">
        <%= fa.label :outgoing_monthly_fee %> 
        <%= fa.check_box :outgoing_monthly_fee, :style => "float:left;" %>
      </div><br /><br /><br />
      <div class="field">
        <%= fa.label :transaction_net_fee %>
        <%= fa.check_box :transaction_net_fee, :style => "float:left;" %>
      </div><br /><br /><br />
   <% end %><br />
    <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment,:cols => 10, :rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
