<%= form_for([@contract, @sow]) do |f| %>
  <% if @sow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sow.errors.count, "error") %> prohibited this sow from being saved:</h2>

      <ul>
      <% @sow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--
  <div class="field">
    <%= f.label :sow_ko_date %><br />
    <%= f.date_select :sow_ko_date %>
  </div>
  <div class="field">
    <%= f.label :sow_production_date %><br />
    <%= f.date_select :sow_production_date %>
  </div>
  <div class="field">
    <%= f.label :sow_start_date %><br />
    <%= f.date_select :sow_start_date %>
  </div>
  <div class="field">
    <%= f.label :sow_end_date %><br />
    <%= f.date_select :sow_end_date %>
  </div>
  <div class="field">
    <%= f.label :auto_renew %><br />
    <%= f.text_field :auto_renew %>
  </div>
  <div class="field">
    <%= f.label :accept_term %><br />
    <%= f.number_field :accept_term %>
  </div>

  <div class="field">
    <%= f.label :renew_times %><br />
    <%= f.number_field :renew_times %>
  </div>
  -->
  <div class="field">
    <%= f.label :product, "Product Name",:id=>"productname" %><br />
    <% ary = Array.new() %>
    <% @contract.sows.each do |asow| %>
      <% ary << asow.product_id %>
    <% end %>
    <%= collection_select(:sow, :product_id, Product.find_all_not_in(ary), :id, :name, {:prompt => 'Please select the product'}, {:class=>'productselect'}) %>
  </div>

  <%= f.fields_for :sow_details do |fa| %>

      <div id="file" >
        <br /><br /><br />
        <p><%= fa.file_field :file %></p>
        <p><%= fa.hidden_field :file_cache %></p><br /><br /><br />
      </div>

      <div class="field" id="type" >
        <%= fa.label :maintype,"Type" %>
        <%= fa.select :maintype, [['Per Hit'],['Contingency']], :prompt=>"Select" %><br /><br /><br />
      </div>

      <div class="field" id="subtype" >
        <%= fa.label "Subtype" %>
        <%= fa.select :subtype, [['Global'],['Per Payor']], :prompt=>"Select"%><br /><br /><br />
      </div>
      
      <div id="contingencyperpayor">

        <div class="field">
          <%= fa.label :commercial, "Commercial" %>
          <%= fa.text_field :commercial_rate  %> % <br /><br /><br />
        </div>

        <div class="field">
          <%= fa.label :medicarerate,"Medicare" %> 
          <%= fa.text_field :medicare_rate %> % <br /><br /><br />
        </div>

        <div class="field">
        <%= fa.label :medicaidrate, "Medicaid" %> 
        <%= fa.text_field :medicaid_rate  %> % <br /><br /><br />
        </div>
      </div>

      <div id="contingencyglobal">
        <div class="field">
          <%= fa.label "Global" %>
          <%= fa.text_field :global_rate %> % <br /><br /><br />
        </div>
      </div>

      <div id="perhitperpayor">

        <div class="field">
          <%= fa.label :commercial, "Commercial" %>
          <%= fa.text_field :commercial_rate  %> $ <br /><br /><br />
        </div>

        <div class="field">
          <%= fa.label :medicarerate,"Medicare" %> 
          <%= fa.text_field :medicare_rate %> $ <br /><br /><br />
        </div>

        <div class="field">
        <%= fa.label :medicaidrate, "Medicaid"  %> 
        <%= fa.text_field :medicaid_rate  %> $ <br /><br /><br />
        </div>
      </div>

      <div id="perhitglobal">
        <div class="field">
          <%= fa.label "Global" %>
          <%= fa.text_field :global_rate %> $ <br /><br /><br />
        </div>
      </div>
 
      <div class="field" id="term" >
        <%= fa.label :term %> 
        <%= fa.text_field :term %>mo<br /><br /><br />
      </div>

      <div id="score">
        <div class="field">
          <%= fa.label "Monthly Fee" %> 
          <%= fa.text_field :subscription_fee %>
        </div><br /><br /><br />
        <div class="field">
          <%= fa.label "Transaction Fee" %>
          <%= fa.text_field :transaction_fee  %>
        </div><br /><br /><br />
      </div>
     
   <% end %><br />

  <div id="ca_part">
    <div class="field" >
      <%= f.label :credit_aggrement, "Sign CA" ,:id=>"ca" %> 
      <%= f.label :yes, "yes" %> 
      <%= f.check_box :ca_flag ,:style => "float:left;", :id=>"casign" %> 
      <br><br><br>  
    </div>  

    <div class="field" id="cadate" >
      <%= f.label "casenddate", "CA Send Date",:id=>"casend"  %>
      <%= f.datepicker :ca_send_at  %>  <br><br><br>  
      <%= f.label "casigndate","CA Sign Date",:id=>"casigndate"  %> 
      <%= f.datepicker :ca_sign_at  %>   <br><br><br> 
    </div>   
  </div>
   

   <!--
    <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment,:cols => 10, :rows => 5 %>
    </div>
  -->
  <br><br><br> 
  <div class="actions" id = "submitbutton">
    <%= f.submit %>
  </div>
<% end %>


<script>
$('#productname').tooltip({'trigger':'click hover focus', 'title': 'Please select the product name' });
  $('#casend').tooltip({'trigger':'click hover focus', 'title': 'The date on which we send credit agreement to the client' });
  $('#ca').tooltip({'trigger':'click hover focus', 'title': 'Please check this checkbox if you need sign credit agreement' });
  $('#casigndate').tooltip({'trigger':'click hover focus', 'title': 'The date on which we sign credit agreement' });

  function reset_alllevel() {
    $("#type").hide();
    $("#subtype").hide();
    $("#contingencyperpayor").hide();
    $("#contingencyglobal").hide();
    $("#perhitperpayor").hide();
    $("#perhitglobal").hide();
    $("#score").hide();
    $("#term").hide();
    $("#file").hide();
    $("#ca_part").hide();
    $("#submitbutton").hide();
  }


  function reset_sublevel() {
    $("#contingencyperpayor").hide();
    $("#contingencyglobal").hide();
    $("#perhitperpayor").hide();
    $("#perhitglobal").hide();
    $("#score").hide();
    $("#term").hide();
  }

  $(function(){
    $("#cadate").hide();

    reset_alllevel();
    $(".productselect").bind("change", function () {
        reset_alllevel();
        if ($(".productselect  option:selected").text().toLowerCase() == "payorintel" || $(".productselect  option:selected").text().toLowerCase() == "autointel") {
            $("#type").show();
            $("#subtype").show();
            $("#file").show();
            $("#submitbutton").show();
        }
        else if($(".productselect  option:selected").text().toLowerCase() == "charity" || $(".productselect  option:selected").text().toLowerCase() == "payment") {
            $("#score").show();
            $("#file").show();
            $("#ca_part").show();
            $("#submitbutton").show();
        }
    });

    $("#subtype").bind("change", function () {
        reset_sublevel();
        if ($("#type option:selected").text().toLowerCase() == "per hit" && $("#subtype option:selected").text().toLowerCase() == "global") {
            $("#perhitglobal").show();
        } else if($("#type option:selected").text().toLowerCase() == "per hit" && $("#subtype option:selected").text().toLowerCase() == "per payor" ) {
            $("#perhitperpayor").show();
        } else if($("#type option:selected").text().toLowerCase() == "contingency"  && $("#subtype option:selected").text().toLowerCase() == "per payor") {
            $("#contingencyperpayor").show();
        } else if($("#type option:selected").text().toLowerCase() == "contingency"  && $("#subtype option:selected").text().toLowerCase() == "global") {
            $("#contingencyglobal").show();
        } else {
          return;
        }
        $("#file").show();
    });

     $("#type").bind("change", function () {
        reset_sublevel();
        if ($("#type option:selected").text().toLowerCase() == "per hit" && $("#subtype option:selected").text().toLowerCase() == "global") {
            $("#perhitglobal").show();
        } else if($("#type option:selected").text().toLowerCase() == "per hit" && $("#subtype option:selected").text().toLowerCase() == "per payor" ) {
            $("#perhitperpayor").show();
        } else if($("#type option:selected").text().toLowerCase() == "contingency"  && $("#subtype option:selected").text().toLowerCase() == "per payor") {
            $("#contingencyperpayor").show();
        } else if($("#type option:selected").text().toLowerCase() == "contingency"  && $("#subtype option:selected").text().toLowerCase() == "global") {
            $("#contingencyglobal").show();
        } else {
          return;
        }
        $("#file").show();
    });

     $('#casign').click(function(){
      $("#cadate").slideToggle();
    });

  });

</script>