<div class="span3">

      <!--Sidebar content-->
      <br /><br /><br />
       <div class="well sidebar-nav">
        <h3>Contract Details</h3>
        <table id="tb" class="table  table-condensed table-hover " cellspacing="0">
 
            <tbody>
                <tr>
                    <td class='hed'>Client name: </td>
                    <td><%= @contract.client.name %> </td>
                </tr>
                <tr>
                    <td class='hed'>Client state: </td>
                    <td><%= @contract.client.state %> </td>
                </tr>
                <tr>
                    <td class='hed'>Real cust_id: </td>
                    <td><%= @contract.client.cust_id  %>  </td>
                </tr>
                <!--
                <tr>
                    <div>         
                        <button id="enable" class="btn btn-primary">enable/disable edit</button>
                    </div>  
                </tr>
                -->
            </tbody>
        </table> 
        <h3>Existing SOWs</h3>
        <table id="tb" class="table  table-condensed table-hover " cellspacing="0">
 
            <tbody>
                 <% @contract.sows.each do |s| %>
                     <tr>  
                        <td class='hed '><span class="label label-success"> <%= Product.find(s.product_id).name.upcase %> </span></td>  
                    </tr>
                <% end %>
            </tbody>
        </table> 

        <hr>
        	<div class="span2">
                     <%= link_to  clients_path(:clientid => @contract.client_id), :action => "index", :class=>"btn btn-small", :method => :get do%>
                     <i class="icon-arrow-left" ></i> Back to Client
                     <% end %>
            </div><br /><br /><br />
            <div class="span2">
                <%= link_to  contracts_url(:cid=>@contract.client.id, :history=>'current'),:class=>"btn btn-small ", :method => :get do%>
                 <i class="icon-arrow-left" ></i> Back to Contract
                <% end %>
            </div><br /><br /><br />
            <div class="span2">
                <%= link_to  contract_sows_path(@contract),:class=>"btn btn-small ", :method => :get do%>
                 <i class="icon-arrow-left" ></i> Back to SOW
                <% end %>
            </div>
 <br /><br /><br /><br />
      </div><!--/.well -->
</div>

<div class="span1">
</div>

<div class="span8">

<br /><br /><br />
<h1>Editing sow</h1>

<%= render 'form' %>
 
</div>
