<h1>Listing sows</h1>

<table>
  <tr>
    <th>Sow ko date</th>
    <th>Sow production date</th>
    <th>Sow start date</th>
    <th>Sow end date</th>
    <th>Auto renew</th>
    <th>Accept term</th>
    <th>Renewal</th>
    <th>Renew times</th>
    <th>Product</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sows.each do |sow| %>
  <tr>
    <td><%= sow.sow_ko_date %></td>
    <td><%= sow.sow_production_date %></td>
    <td><%= sow.sow_start_date %></td>
    <td><%= sow.sow_end_date %></td>
    <td><%= sow.auto_renew %></td>
    <td><%= sow.accept_term %></td>
    <td><%= sow.renewal %></td>
    <td><%= sow.renew_times %></td>
    <td><%= sow.product_id %></td>
    <td><%= sow.comment %></td>
    <td><%= link_to 'Show', sow %></td>
    <td><%= link_to 'Edit', edit_sow_path(sow) %></td>
    <td><%= link_to 'Destroy', sow, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sow', new_sow_path %>
