<div class="span2">

      <!--Sidebar content-->

       <div class="well sidebar-nav">

        <h3>Contract details</h3>
        <table id="tb" class="table  table-condensed table-hover " cellspacing="0">

            <tbody>
                <tr>
                    <td class='hed'>Client name: </td>
                    <td><%= @contract.client.name %> </td>
                </tr>
                <tr>
                    <td class='hed'>Client state: </td>
                    <td><%= @contract.client.state %> </td>
                </tr>
                <% @contract.client.salespeople.each do |person|  %> 
                <tr>
                        <td class='hed'>Sales: </td>
                        <td><%= person.first_name + " " + person.last_name  %>  </td>
                </tr>
                <% end  %>    
                <tr>
                    <td class='hed'>Real cust_id: </td>
                    <td>
                        <% if @contract.client.cust_id.nil? %>
                           N/A
                        <% else %>
                            <%= @contract.client.cust_id  %> 
                        <% end %>
                    </td>
                </tr>
                
                <tr>
                    <td class='hed'>Contract sign date: </td>
                    <td>
                         <div id="contract_sign_at" class="ct_date" data-resource="contract" data-type="date" data-pk="1"  data-url="/contracts/<%= @contract.id%>" data-value = "<%= @contract.contract_sign_at %>" >
                        </div>
                    </td>
                </tr>

                <% if false %>

                <% if @contract.ca_flag == '1' %>
                    <tr>
                        <td class='hed'>CA: </td>
                        <td>
                             <div id="ca_date" class="ct_date" data-resource="contract" data-type="date" data-pk="1"  data-url="/contracts/<%= @contract.id %>" data-value = "<%= @contract.ca_date %>" >
                            </div>
                        </td>
                    </tr>
                <% end %>
                 <% if @contract.nda_flag == '1' %>
                    <tr>
                        <td class='hed'>NDA: </td>
                        <td>
                             <div id="nda_date" class="ct_date" data-resource="contract" data-type="date" data-pk="1"  data-url="/contracts/<%= @contract.id %>" data-value = "<%= @contract.nda_date %>" >
                            </div>
                        </td>
                    </tr>
                <% end %>
                <tr>
                    <td class='hed'>Contract execute date: </td>
                    <td>
                         <div id="contract_execute_date" class="ct_date" data-resource="contract" data-type="date" data-pk="1"  data-url="/contracts/<%= @contract.id %>" data-value = "<%= @contract.contract_execute_date %>" >
                        </div>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table> 
         <div class="span2">
            <%= button_to 'Back to contract level', contracts_url,:class=>"btn btn-primary  ", :method => :get %>
        </div><br />
      </div><!--/.well -->
</div>

<div class="span8">
<!--Body content-->

    <div id="container" class="container-fluid">

        <h1>Listing SOWs </h1><br /><br />
         <div>         
            <button id="enable" class="btn btn-primary">enable/disable edit</button>
        </div>  <br />
        <% if @sows.empty? %> 
            <div class="notice"> You do not have any SOW currently. please add one! </div>
        <% else %>
                
                    <% @sows.each do |sow| %>
               
                       
                        <table id="tb" class="table  table-condensed table-hover table-bordered" cellspacing="0">
                            <thead>
                            <tr>
                                <th class='hed'>Product </th>
                                <th class='hed'>KickOff date </th>
                                <th class='hed'>Production date</th>
                                <th class='hed'>Start date </th>
                                <th class='hed'>End date</th>
                                <th class='hed'>Auto renew</th>
                                <th class='hed'>Accept term (mo)</th>
                                <th class='hed'>Renew times</th>
                                <th class='hed'>Version </th>
                                <th class='hed'>Uploade </th>
                                <th class='hed'>Comment </th>
                                <th class='hed'>Delete </th>
                            </tr>
                            </thead>
                            <tr>
                                <td>
                                    <%= Product.find(sow.product_id).name %>
                                </td>
                                <td>
                                    <a href="#" id="sow_ko_date" class="sow_date" data-resource="sow" data-type="date" data-pk="1" data-url="/sows/<%= sow.id %>"  data-original-title="Select date"><%= sow.sow_ko_date %></a>    
                                </td>
                                 <td>
                                    <a href="#" id="sow_production_date" class="sow_date" data-resource="sow" data-type="date" data-pk="1" data-url="/sows/<%= sow.id %>"  data-original-title="Select date"><%= sow.sow_production_date %></a>    
                                </td>
                                 <td>
                                    <a href="#" id="sow_start_date" class="sow_date" data-resource="sow" data-type="date" data-pk="1" data-url="/sows/<%= sow.id %>"  data-original-title="Select date"><%= sow.sow_start_date %></a>    
                                </td>
                                 <td>
                                    <a href="#" id="sow_end_date" class="sow_date" data-resource="sow" data-type="date" data-pk="1" data-url="/sows/<%= sow.id %>"  data-original-title="Select date"><%= sow.sow_end_date %></a>    
                                </td>
                                <td>
                                    <a href="#" id="auto_renew" class="sow_yn"  data-resource="sow" data-type="select" data-pk="1" data-url="/sows/<%= sow.id %>" data-original-title="Select status"><%= sow.auto_renew %></a> 
                                </td>
                                <td>
                                    <a href="#" id="accept_term" class="sow_int"  data-resource="sow" data-type="select" data-pk="1" data-url="/sows/<%= sow.id %>" data-original-title="Select status"><%= sow.accept_term %></a>   
                                </td>
                          
                                <td><% if  sow.renew_times.nil? %>
                                    0
                                    <% else %>
                                        <%= sow.renew_times %>
                                    <% end %>
                                </td> 
                                <td>
                                    <% if sow.sow_details.empty? %>
                                        N/A
                                    <% else %>
                                     <% count = 1 %>
                                     <% sow.sow_details.each do |f| %>
                                        <%= " V#{count}  " %>
                                        <%= link_to raw('<i class=" icon-download" ></i>'), "#{f.file}" %> 
                                        <% count = count + 1 %>
                                        <br />
                                     <% end %>
                                    <% end %>
                                </td>  
                                <td>
                                    <%= link_to raw('<i class="icon-upload"></i>'), edit_sow_path(sow,:contract_id=>@contract.id)  %>
                                </td>  
                                <td><%= sow.comment %></td>
                                <td><%= link_to raw('<i class="icon-trash "></i>'), sow, confirm: 'Are you sure?', method: :delete %></td>
                            </tr>  
                        </table>

                    <% end %>          
                </div>   
        <% end %>
        <br />


 
    <%= button_to "New Sow", new_contract_sow_path(@contract), :method => "get" %>
 

<script>
 
    $(function(){
        $('.ct_date').editable({
            ajaxOptions: {
                type: 'PUT'
            },
            format: 'yyyy-mm-dd',    
            viewformat: 'mm/dd/yyyy',    
            datepicker: {
                    weekStart: 1
            }

        });
        $('#enable').click(function() {
            $('#tb .editable').editable('toggleDisabled');
        });  
        $('.ct_description').editable({
            ajaxOptions: {
                type: 'PUT'
            },
            title: 'Enter Description',

        });

        
        $('.sow_date').editable({
            format: 'yyyy-mm-dd',    
            viewformat: 'dd/mm/yyyy',    
            mode: 'inline',
            datepicker: {
                    weekStart: 1
               }
        });

        $('.sow_yn').editable({
            source: [
                  {value: 'Y', text: 'Y'},
                  {value: 'N', text: 'N'},
               ]
        });

        $('.sow_int').editable({
            mode: 'inline',
            source: [
                  {value: 1, text: '1'},
                  {value: 2, text: '2'},
                  {value: 3, text: '3'},
                  {value: 4, text: '4'},
                  {value: 5, text: '5'},
                  {value: 6, text: '6'},
                  {value: 7, text: '7'},
                  {value: 8, text: '8'},
                  {value: 9, text: '9'},
                  {value: 10, text: '10'},
                  {value: 11, text: '11'},
                  {value: 12, text: '12'},
                  {value: 13, text: '13'},
                  {value: 14, text: '14'},
                  {value: 15, text: '15'},
               ]
        });

        $('#tb .editable').editable('toggleDisabled');

    });
</script>
    </div>
</div>