<div class="span2">

      <!--Sidebar content-->
       <div class="well sidebar-nav">
        <h3>Contract details</h3>
        <table id="tb" class="table  table-condensed table-hover " cellspacing="0">
            <thead>
                <tr>
                    <th class='hed'></th>
                    <th class='hed'></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class='hed'>Client name: </td>
                    <td><%= @contract.client.name %> </td>
                </tr>
                <tr>
                    <td class='hed'>Client state: </td>
                    <td><%= @contract.client.state %> </td>
                </tr>
                <tr>
                    <td class='hed'>Real cust_id: </td>
                    <td><%= @contract.client.cust_id  %> </td>
                </tr>
                 <tr>
                    <td class='hed'>BAA: </td>
                    <td>
                        <div id="baa_date" class="ct_date" data-resource="contract" data-type="date" data-pk="1"  data-url="/contracts/<%= @contract.id %>" data-value = "<%= @contract.baa_date %>" >
                        </div>
                    </td>
                </tr>
                <tr>
                    <div>         
                        <button id="enable" class="btn btn-primary">enable/disable edit</button>
                    </div>  
                </tr>
            </tbody>
        </table> 
      </div><!--/.well -->
</div>

<div class="span8">
<!--Body content-->

    <div id="container" class="container-fluid">

		<h1>New SOW</h1>

		<%= render 'form' %>

		<%= link_to 'Back', contract_sows_path(@contract) %>


		<script>

		    $(function(){
		        $('.ct_date').editable({
		            ajaxOptions: {
		                type: 'PUT'
		            },
		            format: 'yyyy-mm-dd',    
		            viewformat: 'dd/mm/yyyy',    
		            datepicker: {
		                    weekStart: 1
		            }

		        });
		        $('#enable').click(function() {
		            $('#tb .editable').editable('toggleDisabled');
		        });  
		        $('.ct_description').editable({
		            ajaxOptions: {
		                type: 'PUT'
		            },
		            title: 'Enter Description',

		        });
		                $('#tb .editable').editable('toggleDisabled');
		    });
		</script>

	</div>
</div>