<div class="span3">

      <!--Sidebar content-->
      <br /><br /><br />
       <div class="well sidebar-nav">
        <h3>Contract Details</h3>
        <table id="tb" class="table  table-condensed table-hover " cellspacing="0">
 
            <tbody>
                <tr>
                    <td class='hed'>Client name: </td>
                    <td><%= @contract.client.name %> </td>
                </tr>
                <tr>
                    <td class='hed'>Client state: </td>
                    <td><%= @contract.client.state %> </td>
                </tr>
                <tr>
                    <td class='hed'>Real cust_id: </td>
                    <td><%= @contract.client.cust_id  %>  </td>
                </tr>
                <!--
                <tr>
                    <div>         
                        <button id="enable" class="btn btn-primary">enable/disable edit</button>
                    </div>  
                </tr>
                -->
            </tbody>
        </table> 
        <h3>Existing SOWs</h3>
        <table id="tb" class="table  table-condensed table-hover " cellspacing="0">
 
            <tbody>
                 <% @contract.sows.each do |s| %>
                     <tr>  
                        <td class='hed '><span class="label label-success"> <%= Product.find(s.product_id).name.upcase %> </span></td>  
                    </tr>
                <% end %>
            </tbody>
        </table> 

        <hr>

            <%= link_to 'Back to client level', clients_path(:clientid => @contract.client.id), :action => "index", :class=>"btn btn-small  ", :method => :get %><br /><br /> 

            <%= link_to 'Back to contract level', contracts_url,:class=>"btn btn-small  ", :method => :get %><br /><br />
      
         
            <%= link_to 'Back to sow level', contract_sows_path(@contract),:class=>"btn btn-small", :method => :get %>
     
      </div><!--/.well -->
</div>

<div class="span6">
<!--Body content-->

    
     
     <br /><br /><br />
    <div id="container" class="container-fluid">
 
		<h1>New SOW</h1>

		<%= render 'form' %>


	</div>
            
</div>

<script>

            $(function(){
                $('.ct_date').editable({
                    ajaxOptions: {
                        type: 'PUT'
                    },
                    format: 'yyyy-mm-dd',    
                    viewformat: 'dd/mm/yyyy',    
                    datepicker: {
                            weekStart: 1
                    }

                });
                $('#enable').click(function() {
                    $('#tb .editable').editable('toggleDisabled');
                });  
                $('.ct_description').editable({
                    ajaxOptions: {
                        type: 'PUT'
                    },
                    title: 'Enter Description',

                });
                        $('#tb .editable').editable('toggleDisabled');
            });
 </script>
