<h1>Listing sow_detail_templates</h1>

<table>
  <tr>
    <th>Commercial rate</th>
    <th>Medicare rate</th>
    <th>Medicaid rate</th>
    <th>Term</th>
    <th>Development fee</th>
    <th>Outgoing monthly fee</th>
    <th>Transaction net fee</th>
    <th>Sow</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sow_detail_templates.each do |sow_detail_template| %>
  <tr>
    <td><%= sow_detail_template.commercial_rate %></td>
    <td><%= sow_detail_template.medicare_rate %></td>
    <td><%= sow_detail_template.medicaid_rate %></td>
    <td><%= sow_detail_template.term %></td>
    <td><%= sow_detail_template.development_fee %></td>
    <td><%= sow_detail_template.outgoing_monthly_fee %></td>
    <td><%= sow_detail_template.transaction_net_fee %></td>
    <td><%= sow_detail_template.sow_id %></td>
    <td><%= link_to 'Show', sow_detail_template %></td>
    <td><%= link_to 'Edit', edit_sow_detail_template_path(sow_detail_template) %></td>
    <td><%= link_to 'Destroy', sow_detail_template, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sow detail template', new_sow_detail_template_path %>
