<%= form_for([@sow, @sow_detail]) do |f| %>
  <% if @sow_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sow_detail.errors.count, "error") %> prohibited this sow_detail from being saved:</h2>

      <ul>
      <% @sow_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @sow_detail_template.commercial_rate %>
    <div class="field">
      <%= f.label :commercial_rate %><br />
      <%= f.text_field :commercial_rate %>
    </div>
  <% end %>
  <% if @sow_detail_template.medicare_rate %>
    <div class="field">
      <%= f.label :medicare_rate %><br />
      <%= f.text_field :medicare_rate %>
    </div>
  <% end %>
  <% if @sow_detail_template.medicaid_rate %>
    <div class="field">
      <%= f.label :medicaid_rate %><br />
      <%= f.text_field :medicaid_rate %>
    </div>
  <% end %>
  <% if @sow_detail_template.term %>
    <div class="field">
      <%= f.label :term %><br />
      <%= f.number_field :term %>
    </div>
  <% end %>
  <% if @sow_detail_template.development_fee %>
    <div class="field">
      <%= f.label :development_fee %><br />
      <%= f.text_field :development_fee %>
    </div>
  <% end %>
  <% if @sow_detail_template.outgoing_monthly_fee %>
    <div class="field">
      <%= f.label :outgoing_monthly_fee %><br />
      <%= f.text_field :outgoing_monthly_fee %>
    </div>
  <% end %>
  <% if @sow_detail_template.transaction_net_fee %>
    <div class="field">
      <%= f.label :transaction_net_fee %><br />
      <%= f.text_field :transaction_net_fee %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
