<h1>Listing sow_details</h1>

<table>
  <tr>
    <th>Commercial rate</th>
    <th>Medicare rate</th>
    <th>Medicaid rate</th>
    <th>Term</th>
    <th>Version</th>
    <th>Status</th>
    <th>Development fee</th>
    <th>Outgoing monthly fee</th>
    <th>Transaction net fee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sow_details.each do |sow_detail| %>
  <tr>
    <td><%= sow_detail.commercial_rate %></td>
    <td><%= sow_detail.medicare_rate %></td>
    <td><%= sow_detail.medicaid_rate %></td>
    <td><%= sow_detail.term %></td>
    <td><%= sow_detail.version %></td>
    <td><%= sow_detail.status %></td>
    <td><%= sow_detail.development_fee %></td>
    <td><%= sow_detail.outgoing_monthly_fee %></td>
    <td><%= sow_detail.transaction_net_fee %></td>
    <td><%= link_to 'Show', sow_detail %></td>
    <td><%= link_to 'Edit', edit_sow_detail_path(sow_detail) %></td>
    <td><%= link_to 'Destroy', sow_detail, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sow detail', new_sow_detail_path %>
