<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
        <%= f.label :commercial_rate %>
        <%= f.check_box :commercial_rate, :style => "float:left;" %>
      </div><br /><br /><br /><br />
      <div class="field">
        <%= f.label :medicare_rate %> 
        <%= f.check_box :medicare_rate, :style => "float:left;" %>
      </div><br /><br /><br />
      <div class="field">
        <%= f.label :medicaid_rate %> 
        <%= f.check_box :medicaid_rate, :style => "float:left;" %>
      </div><br /><br /><br />
      <div class="field">
        <%= f.label :term %> 
        <%= f.check_box :term, :style => "float:left;" %>
      </div><br /><br /><br />
      <div class="field">
        <%= f.label :development_fee %> 
        <%= f.check_box :development_fee, :style => "float:left;" %>
      </div><br /><br /><br />
      <div class="field">
        <%= f.label :monthly_fee %> 
        <%= f.check_box :monthly_fee, :style => "float:left;" %>
      </div><br /><br /><br />
      <div class="field">
        <%= f.label :transaction_fee %>
        <%= f.check_box :transaction_fee, :style => "float:left;" %>
      </div><br /><br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
