<!DOCTYPE html>
<html>
<head>
  <title>ManagerTool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Manager Tool</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav ">
              <li><%= link_to "Centcom","http://staging/centcom", :target => "_blank" %>
              <li><%= link_to "Recon 2","http://srv6/recon2/", :target => "_blank" %>
              <li><%= link_to "Dashboard","http://srv6/dashboard/", :target => "_blank" %>
              <li><%= link_to "Redmine","http://srv6/redmine/", :target => "_blank" %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <div class="container-fluid">
    <div class="row-fluid">

      <div class="span12 ">
        <img style="display:block; float:left"  src="/assets/Medlytix_logo_w_tagline.jpg" alt="banner">
      </div>
    </div>
  </div>


    <div id="menu">
      <ul>
            <li style="margin-left: 15px" class='selected' >
              <a href="#">Home</a>
            </li>

             <%if session[:current].eql?('menu_clients') %>
            <li class="selected">
            <% else %>
              <li >
            <% end %>
            <a href="#">Client Management </a>
              <ul>
                <li>
                  <a href="/clients">View </a>
                </li>
                <li>
                  <a href="/clients/new">Add </a>
                </li>
              </ul>
            </li>


            <%if session[:current].eql?('menu_regular_contracts') %>
            <li class="selected">
            <% else %>
              <li >
            <% end %>
            <a href="#">Contracts Management </a>
              <ul>
                 <li>
                  <a href="/contracts">View </a>
                </li>
                <li><a href="#">Add a new Contract <img src="/assets/right.gif" class="rightarrowclass" style="border:0;"></a>
                  <ul>
                    <li><a href="/clients/new">New client </a></li>
                    <li><a href="/contracts/new">Existing  client </a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <%if session[:current].eql?('menu_temporary_contracts') %>
            <li class="selected">
            <% else %>
              <li >
            <% end %>
            <a href="#">Dummy contracts </a>
              <ul>
                <li><a href="#">View contracts <img src="/assets/right.gif" class="rightarrowclass" style="border:0;"></a>
                  <ul>
                    <li><a href="/contracts">Proposed Contracts </a></li>
                    <li><a href="/#">Finished Contracts </a></li>
                  </ul>
                </li>
                <li><a href="#">Add a new Contract <img src="/assets/right.gif" class="rightarrowclass" style="border:0;"></a>
                  <ul>
                    <li><a href="/contracts/new">New client </a></li>
                    <li><a href="/#">Existed client </a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <%if session[:current].eql?('menu_sales') %>
            <li class="selected">
            <% else %>
              <li >
            <% end %>
            <a href="#">Salespeople </a>
              <ul>
                <li>
                  <a href="/salespeople">List of salespeople </a>
                </li>
                <li>
                  <a href="/salespeople/new">Add a new salesperson </a>
                </li>
              </ul>
            </li>

            <%if session[:current].eql?('menu_products') %>
            <li class="selected">
            <% else %>
              <li >
            <% end %>
            <a href="#">Products </a>
              <ul>
                <li>
                  <a href="/products">List of Products </a>
                </li>
                <li>
                  <a href="/products/new">Add a new Product </a>
                </li>
              </ul>
            </li>

            <%if session[:current].eql?('admin_user') %>
            <li class="selected">
            <% else %>
              <li >
            <% end %>
            <a href="#">Admin </a>
              <ul>
                <li>
                  <a href="/users">List of users </a>
                </li>
                <li>
                  <a href="/users/new">Add a new user </a>
                </li>
              </ul>
            </li>
      </ul>

  </div>



  <div id='my_margin' class="row-fluid">
    <%= yield %>
  </div>


</body>
</html>

